@model Project_Real__estate.Models.Agent

@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }





        <section class="section dashboard">
            <div class="row">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <!-- css 807 217 -->
                            <div class="card recent-sales">
                                <div>
                                    <h4>Agent</h4>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.AgentName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AgentName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Email)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Address)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Phone)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.isActivate)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.isActivate)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Password)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Password)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Introduction)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Introduction)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.EmailHide)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.EmailHide)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.User.UserName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.User.UserName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Payment.PaymentName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Payment.PaymentName)
                                        </dd>

                                    </dl>
                                </div>
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.AgentId }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>

